VITE_API_URL=/api/v1
VITE_URL=http://localhost:4255
VITE_DOC_SIGN_URL=http://localhost:4258
VITE_KUNK_URL=http://localhost:4257
VITE_ASSOCIATION_NAME=Kunk
VITE_ASSOCIATION_LOGO=/logo.svg
VITE_ASSOCIATION_LOGO_MENU=/logo.svg
VITE_ASSOCIATION_LOGO_SIZE=180px
VITE_CONTACT_URL=
