VITE_API_URL=/api/v1
VITE_URL=http://localhost:4255
VITE_ASSOCIATION_NAME=SouCannabis
VITE_ASSOCIATION_LOGO=/logo.svg
VITE_ASSOCIATION_LOGO_MENU=/logo.svg
VITE_ASSOCIATION_LOGO_SIZE=180px
VITE_WELCOME_TEXT=Bem-vindo ao cadastro de associados.
VITE_CONTACT_URL=
